extend layout

block content

	#rendererContainer

	x-deck(transition-type="fade")
		
		x-card.opaque
			div
				h1 Hello DevFest!
				p Com anem?
	
		x-card.opaque
			h1 Four to the floor JS, vol II
	
		x-card.opaque
			div
				h1 Soledad Penadés
				p Apps Engineer en Mozilla (de día)

		x-card.opaque
			div
				h1 @supersole
				p Noise maker (de noche)
		


		x-card.opaque
			h1 Lo que veremos

		x-card.opaque
			h1 1. Un poco de contexto

		x-card.opaque
			h1 2. Lo que he hecho

		x-card.opaque
			h1 ... y después ...



		x-card.opaque
			h1 3. Váis a flipar

		x-card.opaque
			h1 ...o vuestros oídos van a flipar...

		x-card.opaque
			h1 ¿"Brace, brace"?

		x-card.opaque
			h1 ¡Huid!


		
		x-card.opaque
			h1 Me <em>chifla</em> la música

		x-card.opaque.cover(data-background="img/parchis_lp.jpg")
			h1 El primer disco que me regalaron

		x-card.opaque
			h1 No podía dejar de escucharlo

		x-card.opaque
			h1 Mi primer desafío



		x-card.opaque
			h1 Los 80 eran <em>buenos tiempos</em>

		x-card.opaque
			h1 Electropop horterilla

		x-card.opaque
			h1 Videojuegos de 8 bits

		x-card.opaque
			h1 Teclados CASIO


		x-card.opaque
			h1 El mío:<br/>CASIO PT-100

		x-card.opaque
			h1 Pocas opciones de configuración

		x-card.opaque
			h1 Exportar === grabar en una cinta

		x-card.opaque
			h1 ¡Ya estaba bien!


		x-card.opaque
			h1 Y llegaron los 90

		x-card.opaque
			h1 OMG MULTIMEDIA!

		x-card.opaque
			h1 ¡Trackers!

		x-card.opaque
			h1 Compuse montones de música


		x-card.opaque
			h1 Demoscene

		x-card.opaque
			h1 VJing

		x-card.opaque
			h1 Actuaciones

		x-card.opaque
			h1 Es difícil coordinarse con la gente



		x-card.opaque
			h1 Síntesis de audio

		x-card.opaque
			h1 C/C++

		x-card.opaque
			h1 VSTi

		x-card.opaque
			h1 Es difícil de distribuir
		


		x-card.opaque
			h1 OMG<br />JavaScript + HTML5!

		x-card.opaque
			h1 ¡Web Audio!

		x-card.opaque
			h1 ¡WebGL!

		x-card.opaque
			h1 ¡node.js!



		x-card.opaque
			h1 La mujer orquesta (con JS)

		x-card.opaque
			h1 Generar audio y vídeo

		x-card.opaque
			h1 Controlador hardware

		x-card.opaque
			h1 Todo unido con node.js
		


		x-card.opaque
			h1 QuNeo hardware controller

		x-card.opaque
			h1 "for hackers"

		x-card.opaque
			h1 Botones sensibles a la presión, ¡con LEDs!

		x-card.opaque
			h1 Pequeñajo
		


		x-card.opaque
			h1 QuNeo &harr; node.js:<br />OSCBridge

		x-card.opaque
			h1 UDP<br />con node-osc

		x-card.opaque
			h1 Eventos touch ===<br />nuestro servidor recibe mensajes

		x-card.opaque
			h1 Para controlar los LEDs ===<br />enviamos mensajes
			


		x-card.opaque
			h1 Servidor &rarr; navegador

		x-card.opaque
			div
				h1 Socket.IO
				p 
					em ¡por supuesto!

		x-card.opaque
			div
				h1 Suscribirnos a mensajes
				p <code>/quneo/pads/2/drum/pressure</code>
				p <code>/quneo/pads/(\\d+)/drum/pressure</code>
				

		x-card.opaque
			div
				h1 Enviar mensajes
				p <code>/quneo/leds/pads/1/*/red</code>



		x-card.opaque
			h1 Audio gear

		x-card.opaque
			div
				h1 Modular,<br />filosofía Web Audio
				p Entradas y salidas
				p Composición: bloques dentro de bloques

		x-card.opaque
			div
				h1 Encapsular bloques nativos de Web Audio
				p Autoregenerar oscillators y buffers
				p Envolvente ADSR

		x-card.opaque
			div
				h1 Nodos propios con ScriptProcessor
				p ¡Procesar audio en JavaScript!



		x-card.opaque
			h1 ¿Audio GUI?

		x-card.opaque
			h1 Basada en Web Components<br />(via x-tag)

		x-card.opaque
			h1 <code>attachTo</code> una instancia de audio gear

		x-card.opaque
			div
				h1 Basado en eventos



		x-card.opaque
			div
				h1 Bajotron
				p Monophonic multivoice unisonic bass line

		x-card.opaque
			div
				h1 Colchonator
				p Construir colchones con Bajotrones

		x-card.opaque
			div
				h1 Porrompom
				p Simple sample based drum machine

		x-card.opaque
			div
				h1 Reverbetron
				p Módulo de reverberación basado en impulsos
		

		
		x-card
			h1 Video gear

		x-card
			h1 WebGL via three.js

		x-card
			div
				h1 Composite rendering
				p Un renderer, muchas escenas

		x-card
			div
				h1 Escenas procedurales
				p Porque no soy una artista 3D
		



		x-card
			h1 ¿Y cuál es el "truco" para componer escenas con three.js?

		x-card
			div
				h1 Configuración del renderer
				p <code>renderer = new THREE.WebGLRenderer({ preserveDrawingBuffer: true });</code>
				p <code>renderer.autoClear = false;</code>
			
		x-card
			div
				h1 Y al renderizar...
				p <code>renderer.clear()</code> una vez
				p repetir <code>renderer.render(scene, camera)</code> por escena
		
		x-card
			h1 Y ya.
		
	

		x-card
			h1 Tocar en vivo

		x-card
			h1 El esqueleto de la canción secuenciado con Renoise

		x-card
			h1 Es un tracker

		x-card
			h1 En el futuro,<br />un editor web



		x-card
			div
				h1 Formato de canciones en Renoise
				p Basado en XML

		x-card
			h1 Exportar a JSON

		x-card
			div
				h1 Conceptos tracker
				p Patrones, canales, filas
				p "Como Excel, pero divertido"

		x-card
			div
				h1 Más la order list
				p Lista de patrones y el orden en que serán reproducidos
	


		x-card
			h1 Construimos una lista de eventos

		x-card
			div
				h1 Por ejemplo
				p <code>{<br />type: NOTE_ON, note_number: 40,<br />timestamp: 0.00032,<br />order: 1, pattern: 3, row: 4<br />instrument: 3, volume: 0.5<br />}</code>

		x-card
			h1 Valores extra para sincronizar los visuales

		x-card
			h1 Ordenar por timestamp




		x-card
			h1 Programar eventos de audio con mucha precisión

		x-card
			div
				h1 Pero los eventos de audio no se pueden cancelar
				p Imposible programar una canción entera y cambiar de opinión después

		x-card
			div
				h1 requestAuditionFrame
				p Lanzar andanadas de eventos periódicamente
				p Lo que quepa en el buffer de audio

		x-card
			div
				h1 Puede sonar un poco off
				p Es lo que hay



		x-card
			h1 Explotar al máximo los datos de notas

		x-card
			div
				h1 Inicialmente están en el formato Nota-Octava
				p Ej: <code>C-4</code> = DO, cuarta octava

		x-card
			div
				h1 Los convertimos en números de nota MIDI
				p Ej: <code>C-4</code> es <code>40</code>

		x-card
			div
				h1 Entonces se pueden...
				p Trasponer
				p Construir arpeggios o acordes
				p Usarlos visualmente


		x-card
			h1 ¿Pero por qué molestarse, si existe Dancer.js?

		x-card
			div
				h1 Los datos de una nota son más detallados que la FFT (TRF)
				p Con FFT no puedes distinguir instrumentos sonando en la misma banda de frecuencia

		x-card
			div
				h1 Reaccionar a eventos <em>muy</em> específicos
				p Ej: cuando suene el bombo,
				p pero <strong>no</strong> cuando suene el bajo

		x-card
			div
				h1 De la otra manera,
				p trata con umbrales,
				p tiempos de ataque y decremento...
				p (esto no es un haiku).



		x-card
			h1 Ojo

		x-card
			div
				h1 Cuidadito con saturar
				p Normalmente horrible&mdash;a menos que te vaya la noise music

		x-card
			div
				h1 Limitar y comprimir
				p <code>AudioGain</code> y <code>DynamicCompressor</code> serán tus amigos

		x-card
			div
				h1 Tecnología en desarrollo
				p Puede petar, devorar memoria, cambiar sin avisar o explotarte en las narices



		x-card
			h1 Pero eso es parte de la diversión

		x-card
			h1 ¿No?

		x-card
			h1 ¿Vemos a ver si se rompe?

		x-card
			h1 Recordad lo de "brace, brace"
				



		x-card
			h1 ▶

		x-card
			div
				h1 supersole.net
				p ¡Bajaros toda mi música!

		x-card
			div
				h1 supersole.net
				p "Like dancing on discos with cheese on toast"

		x-card
			div
				h1 supersole.net
				p <em>Así</em> de horterilla


		

		x-card
			h1 ¿Se ha roto ya?

		x-card
			h1 ¿No?

		x-card
			h1 Parece que no.

		x-card
			h1 BIEN

		

		x-card
			div
				h1 @supersole
				p En twitter

		x-card
			h1 @supersole

		x-card
			h1 @supersole
				

		x-card
			h1 @supersole



		x-card
			h1 ¡Gracias!

		x-card
			h1 Sois...

		x-card
			h1 Sois súper...

		x-card
			h1 Sois súper guays






	#transport.hidden
		button#rew ❚◀◀
		button#play ▶
		button#pause ❚❚
		button#fwd ▶▶❚
		#time 
		#order
	
	#gui.hidden

	script(src='/socket.io/socket.io.js', type='text/javascript')
	script(src='/js/libs/x-tag/core.js', type='text/javascript')
	script(src='/js/libs/x-tag/deck.js', type='text/javascript')
	script(src='/js/libs/zepto.js', type='text/javascript')
	script(src='/js/libs/AudioContextMonkeyPatch.js', type='text/javascript')
	script(src='/js/libs/three.min.js', type='text/javascript')
	script(src='/build/bundle.js', type='text/javascript')

